@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Josefin+Sans:wght@400;500;600&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400&family=Satisfy&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  scroll-behavior: smooth;

  /* font-family: "Inter", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

:root {
  --black: #000;
  --white: #fdfdfd;
  --gold: #dba156;
  --inter: "Inter", sans-serif;
  --funky: "Playfair Display", serif;
  --pacifico: "Pacifico", cursive;
  --robotoconsider: "Roboto Condensed", sans-serif;
}

.text-justify {
  text-align: justify;
}

p {
  font-family: var(--inter);
  line-height: 18px;
  color: #000;
}

a {
  color: var(--gold);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}
a:hover {
  color: #a3814f;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

.topbar {
  padding: 5px 80px;
  background-color: #000;
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 99999;
}
.topbar p {
  font-weight: 300;
  font-size: 14px;
  color: var(--white);
  font-family: var(--robotoconsider);
}

.topbar ul li span {
  color: var(--gold);
}

.logo a {
  font-size: 22px;
  font-weight: 700;
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.navbar {
  position: sticky;
  top: 28px;
  background-color: transparent;
  padding: 8px 80px;
  z-index: 99999;
  width: 100%;
  background-color: var(--white);
  transition: 0.3s ease;
  overflow: hidden;
  border-bottom: 1px solid gray;
}
.navbarScrold {
  background-color: var(--white);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 58%);
  transition: 0.3s ease;
  border-bottom: none;
}

.navbar ul li {
  cursor: pointer;
  position: relative;
  padding: 0 10px;
}

.navbar ul li a {
  font-weight: 400;
  font-size: 16px;
}
.navbar ul li::after {
  content: "";
  position: absolute;
  z-index: 999999;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a3814f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar .book button {
  font-size: 16px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  padding: 5px 12px;
  border-radius: 4px;
}

/* Ham menu */

#menu {
  z-index: 222;
  display: none;
}

#menu-bar {
  width: 45px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 70%;
  background-color: #a3814f;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  margin-bottom: 4px;
}

#bar3 {
  margin-top: 4px;
}

.change {
  display: block;
}

.change .bar {
  background-color: #a3814f;
}

.change #bar1 {
  transform: translateY(7px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-7px) rotateZ(45deg);
}

.hammenu {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  padding: 20px;
}

.hammenuOpen {
  left: 50vw;
  transition: 0.4s ease;
}
.hammenu ul {
  margin: 0;
  padding: 0;
}
.hammenu ul li {
  width: fit-content;
  margin-bottom: 20px;
}
.hammenu ul li a {
  font-size: 16px;
}

/* locatin Bar */
.locationBar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 80px;
}
.locationBar h1 {
  margin-bottom: 0;
}

/* hero */

.hero {
  /* margin-top: 62px; */
  width: 100%;
  height: calc(100vh);
}

.hero .carousel-item {
  transition: opacity 1.5s ease-out;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .crousal-main {
  background-image: url(../assets/glry/herobg\ -\ Copy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .crousal-rooms {
  background-image: url(../assets/glry/s16.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .crousal-rest {
  background-image: url(../assets/glry/restaurent.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome {
  padding: 10px;
  display: flex;
  top: 10vh;
  width: 60vw;
  background-color: #07070796;
  border-radius: 7px;
  margin-top: 62px;
}
.crousal-rest .welcome {
  background-color: #d9d9d952;
  color: #000 !important;
}
.crousal-rest .welcome .wc {
  color: #000;
}

.welcome .wc {
  padding: 10px 20px;
  color: var(--white);
  width: 100%;
  border-radius: 4px;
}
.welcome .wc h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  text-transform: capitalize;
  font-size: 48px;
  text-align: center;
}

.crousal-rest h3 {
  font-weight: 500;
}

/* midbar */
.midBar {
  background-color: var(--black);
  text-align: center;
  color: var(--white);
  padding: 16px 16px;
  display: none;
}

.midBar h4 {
  font-size: 22px;
  margin-top: 12px !important;
  font-weight: 300;
  font-family: var(--pacifico);
}
.midBar p {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
  color: var(--white);
}
.midBar .fa-solid {
  padding: 6px;
  border-radius: 50%;
  background-color: #a3814f;
  margin-right: 10px;
  color: var(--white);
  font-size: 10px;
}

.midBar a {
  color: var(--white);
}

/* Aboutus */
.aboutus {
  padding: 5px 80px;
}
.aboutus p {
  font-size: 14px;
}
.aboutus .heading h2 {
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
}

.aboutus img {
  width: 40vw;
  height: 350px;
  margin-right: 30px;
  border-radius: 4px;
}

.aboutDetails {
  margin-top: 64px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.aboutDetails .text {
  max-width: 40vw;
}
.aboutDetails .text p {
  font-family: var(--robotoconsider);
  line-height: 21px;
  font-size: 14px;
  text-align: justify;
}

/*  we pffer*/

.weoffer {
  margin-top: 80px;
}
.weoffer .heading {
  padding: 5px 80px;
}

.weoffer .crousal {
  display: flex;
  overflow-x: scroll;
  padding: 10px 24px;
  -webkit-overflow-scrolling: touch;
  margin-top: 10px;
  scroll-behavior: smooth;
  align-items: center;
}

.offerItem .img img {
  width: 300px;
  height: 210px;
}
.modal {
  z-index: 1808888;
  margin-top: 30px;
}
.modal .modal-header {
  border-bottom: none;
}
.modal img {
  width: 95%;
  height: 100%;
  border-radius: 8px;
}

.modal-content {
  position: relative;
}

.modal-content .btn-close {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 84654654;
}

@media screen and (min-width: 1700px) {
  .weoffer .crousal {
    justify-content: center;
  }
}

.weoffer .crousal::-webkit-scrollbar {
  display: none;
}

.weoffer .offerItem {
  min-width: 300px;
  max-width: 300px;
  margin-right: 48px;
}

.weoffer .offerItem img {
  width: 100%;
  border-radius: 4px;
}
.weoffer .offerItem .text h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}
.weoffer .offerItem .text p {
  font-family: var(--inter);
  font-size: 14px;
  width: 80%;
}

.weoffer .scrollBtn {
  padding: 2px 10px;
}
.weoffer .scrollBtn .left {
  margin-right: 32px;
}
.weoffer .scrollBtn div {
  font-size: 18px;
  background-color: var(--gold);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  color: var(--white);
  cursor: pointer;
}

/* wave */
.waveUp {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0;
}
.waveDown {
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: -10px;
  transform: rotateX(180deg);
  transform: rotateZ(180deg);
}

/* Restaurent */

.swad {
  margin-top: 60px;
  padding: 100px 120px;
  background: url(https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.swad .logo img {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.swad .logo h1 {
  color: var(--gold);
  margin-bottom: 20px;
}

.swad .desc p {
  font-family: var(--robotoconsider);
  line-height: 22px;
  text-align: justify;
  width: 70vw;
  font-size: 16px;
}

.swad .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swad .swiper-slide {
  width: 300px;
  border-radius: 6px;
}
.swad .swiper-slide img {
  width: 100%;
  border: 2px solid var(--gold);
  border-radius: 6px;
}

.swad .slide img {
  width: 100%;
  border: 3px solid var(--gold);
}
.swad .swiper-button-next::after,
.swad .swiper-button-prev::after {
  font-size: 32px;
  color: var(--black);
  background-color: transparent !important;
  padding: 5px;
}

.swad .knowMorebtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swad .knowMorebtn button {
  border: none;
  width: 250px;
  padding: 8px;
  border-radius: 7px;
  margin-top: 30px;
  position: relative;
  z-index: 5565;
}

.swad .knowMorebtn button a {
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 700px) {
  .swad {
    padding-bottom: 200px !important;
  }
}

@media screen and (min-width: 1000px) {
}

@media screen and (min-width: 1500px) {
  .swad .logo img {
    margin-top: 150px;
  }
  .swad {
    padding-bottom: 250px !important;
  }
}
@media screen and (min-width: 1800px) {
  .swad .logo img {
    margin-top: 200px;
  }
}
@media screen and (min-width: 2000px) {
  .swad {
    padding-bottom: 350px !important;
  }
}

@media screen and (min-width: 2300px) {
  .swad .logo img {
    margin-top: 300px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}

/*  */
.gellery {
  margin-top: 60px;
}
.gellery .heading {
  text-align: center;
}

.gellery .heading h1 {
  font-size: 28px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  margin-bottom: 0;
}

#container {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}

.photobanner {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 50s ease infinite;
}

.photobanner img {
  margin: 0 0.5em;
  width: 300px;
  border-radius: 7px;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* Services */
.services {
  margin-top: 80px;
  padding: 2px 80px;
}

.services h1 {
  font-weight: 600;
}
.services .srvc {
  padding: 18px 12px;
  border-radius: 6px;
  margin: 20px;
}
.services .srvc {
  height: 100px;
}
.services .srvc .img {
  margin-left: 10px;
}

.services .srvc .dtls h1 {
  font-size: 16px;
  font-family: var(--inter);
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.services .srvc .dtls p {
  font-size: 12px;
  font-family: var(--inter);
  margin-bottom: 5px;
  text-transform: capitalize;
}

.services .mid {
  border: 1px solid gainsboro;
  border-top: none;
}
.services .side {
  border-bottom: 1px solid gainsboro;
}

.services .bbnone {
  border-bottom: none;
}

/* We Are Avilable */
.weAreAvailable {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  background: linear-gradient(
      rgba(235, 235, 235, 0.712),
      rgba(14, 14, 17, 0.705)
    ),
    url(../assets/glry/26.jpg) fixed center center;
}
.weAreAvailable h1 {
  margin-bottom: 40px;
}

.weAreAvailable .icon-box {
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 40px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.weAreAvailable .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
  transform: translateY(-10px);
}

.weAreAvailable .icon-box h4 {
  font-size: 28px;
  font-weight: 600;
  color: var(--gold);
}
.weAreAvailable .icon-box p {
  font-family: var(--robotoconsider);
  font-size: 14px;
}
.weAreAvailable .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: 0.3s;
}

/* Contact */
.contact {
  margin-top: 80px;
  padding: 2px 80px;
}
.contact p {
  font-size: 14px;
  margin-bottom: 50px;
}
.contact .info-box {
  color: #000000;
  text-align: center;
  box-shadow: 0 0 30px rgb(214 215 216 / 30%);
  padding: 20px 5px 10px 5px;
  border-radius: 7px;
}
.contact .info-box a {
  font-weight: 600;
}
.contact .map,
.contact .map iframe {
  width: 100%;
}

.contact h3 {
  font-size: 22px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: #f3dab291;
  padding: 10px 2px;
}

footer p {
  margin-bottom: 0;
  font-size: 14px;
  margin-top: 10px;
}

.footerServices .logo img {
  width: 140px;
  height: 120px;
}

.footerServices .address h1,
.con h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

.footerServices .address h1::after,
.con h1::after {
  display: block;
  content: "";
  width: 90%;
  height: 2px;
  background: rgb(253, 253, 253);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.footerServices .address h2 {
  font-size: 18px;
  font-weight: 300;
  color: var(--white);
  text-transform: capitalize;
}
.footerServices .address a {
  font-size: 18px;
}

.footerServices .con p {
  color: var(--white);
  font-weight: 300;
  font-size: 12px;
}
.footerServices .useful a {
  color: var(--white);
  font-size: 14px;
}

.footerServices .highLight {
  color: var(--gold);
}
footer .copy {
  color: var(--white);
}

.bookNow {
  position: fixed;
  right: 15px;
  top: 200px;
  z-index: 996;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gold);
  font-weight: 500;
  font-size: 12px;
}

/* Whatapp */
.whatsapp {
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 996;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/* responsive */

/* model swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-wrapper {
  padding-left: initial;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80%;
  border-right: 1px solid black;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 20px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 32px;
  color: var(--black);
  background-color: #fff;
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .services .mid,
  .services .side {
    border: 1px solid gainsboro;
    margin-bottom: 8px;
  }
  .swad .desc p {
    width: 80vw;
  }
  .navbar .navlinks {
    display: none;
  }
  #menu {
    display: block;
  }
}

@media screen and (max-width: 876px) {
  .navbar {
    padding: 5px 40px;
  }
  .aboutus,
  .weoffer .heading,
  .services,
  .contact,
  .topbar {
    padding: 5px 40px;
  }
  .swad {
    padding: 100px 40px;
  }
  .locationBar {
    padding: 20px 40px;
  }

  .navbar .book {
    display: none;
  }
  .hammenu .book {
    display: block;
  }

  .welcome {
    width: 70vw;
  }

  .aboutus .text {
    width: 100%;
    margin-top: 20px;
  }
  .aboutus img {
    width: 100%;
    height: 250px;
    margin-right: 0;
  }

  .aboutDetails {
    flex-direction: column;
    margin-top: 40px;
  }
  .aboutus .heading h2 {
    font-size: 32px;
  }

  .aboutDetails .text {
    max-width: 100%;
  }

  .swad .desc p {
    width: 95vw;
  }

  .amin {
    flex-direction: column-reverse !important;
  }
  .amin img {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .logo a {
    font-size: 20px;
  }
  .welcome .wc h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 2px;
  }
  .aboutus .heading h2 {
    font-size: 28px;
  }

  .services .mid,
  .services .side {
    border: 1px solid gainsboro;
  }
}

@media screen and (max-width: 713px) {
  .logo a {
    font-size: 18px;
  }
  .navbar {
    padding: 8px 20px;
  }
  .aboutus,
  .weoffer .heading,
  .services,
  .topbar,
  .swad {
    padding: 5px 20px;
  }
  .swad {
    padding: 100px 20px;
  }
  .locationBar {
    padding: 20px;
  }

  .topbar p {
    font-size: 12px;
  }

  .welcome {
    width: 80vw;
  }

  .welcome .wc h5 {
    font-size: 16px;
  }
  .welcome .wc p {
    font-size: 12px;
  }
  .welcome .wc {
    padding: 10px;
  }
  .midBar h4 {
    font-size: 18px;
    font-family: var(--pacifico);
  }
  .midBar p {
    font-size: 11px;
  }
  .midBar .contact {
    flex-direction: column;
  }
  .midBar .contact .fa-envelope {
    margin-top: 10px;
  }
  .amin .col {
    width: 100%;
  }

  .blur h5 {
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
  .contactgrid .footer-links {
    margin-top: 60px !important;
  }

  .contactgrid .contactdt {
    text-align: center;
  }
}

@media screen and (max-width: 567px) {
  .logo a {
    font-size: 15px;
  }
  .amin .row {
    display: block;
  }

  .justCall {
    margin: 0;
    margin-top: 20px;
    border-radius: 0;
  }
  .welcome {
    width: 90vw;
  }

  .hero {
    height: calc(50vh - 62px);
  }
  .hero .carousel-item {
    height: calc(50vh - 62px);
  }

  .hero .welcome h1 {
    font-size: 22px !important;
  }
  .crousal-rest img {
    width: 110px;
  }
  .topbar .last {
    display: none;
  }
}

/* smooth */

@media screen and (max-width: 567px) {
  .navbar .logo img {
    width: 50px;
  }

  .topbar p {
    font-size: 10px;
  }
  .topbar {
    padding: 5px 5px;
  }
}
@media screen and (max-width: 360px) {
  .navbar {
    padding: 8px;
  }
}
