@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Josefin+Sans:wght@400;500;600&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  scroll-behavior: smooth;

  /* font-family: "Inter", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

:root {
  --black: #000;
  --white: #fdfdfd;
  --gold: #dba156;
  --inter: "Inter", sans-serif;
  --funky: "Playfair Display", serif;
  --pacifico: "Pacifico", cursive;
}

.text-justify {
  text-align: justify;
}

p {
  font-family: var(--inter);
  line-height: 18px;
  color: #000;
}

a {
  color: var(--gold);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}
a:hover {
  color: #a3814f;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

.logo a {
  font-size: 22px;
  font-weight: 600;
  color: #a3814f;
}

.navbar {
  position: fixed;
  background-color: transparent;
  padding: 8px 80px;
  z-index: 99999;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 58%);
  transition: 0.3s ease;
}
.navbarScrold {
  background-color: var(--white);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 58%);
  transition: 0.3s ease;
}

.navbar ul li {
  cursor: pointer;
  position: relative;
  padding: 0 10px;
}

.navbar ul li a {
  font-weight: 400;
  font-size: 16px;
}
.navbar ul li::after {
  content: "";
  position: absolute;
  z-index: 999999;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a3814f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar .book button {
  font-size: 16px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  padding: 5px 12px;
  border-radius: 4px;
}

/* Ham menu */

#menu {
  z-index: 222;
  display: none;
}

#menu-bar {
  width: 45px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 70%;
  background-color: #a3814f;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  margin-bottom: 4px;
}

#bar3 {
  margin-top: 4px;
}

.change {
  display: block;
}

.change .bar {
  background-color: #a3814f;
}

.change #bar1 {
  transform: translateY(7px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-7px) rotateZ(45deg);
}

.hammenu {
  position: absolute;
  width: 70vw;
  background-color: #fff;
  top: 0;
  height: 100vh;
  padding: 20px;
  left: 2020px;
  transition: 0.6s ease;
  padding-top: 64px;
}

.hammenuOpen {
  left: 50vw;
  transition: 0.4s ease;
}
.hammenu ul {
  margin: 0;
  padding: 0;
}
.hammenu ul li {
  width: fit-content;
  margin-bottom: 20px;
}
.hammenu ul li a {
  font-size: 16px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* hero */

.hero {
  /* margin-top: 62px; */
  width: 100%;
  height: calc(100vh);
  background-image: url(../assets/glry/herobg\ -\ Copy.jpg);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  position: relative;
}

.welcome {
  padding: 2px 80px;
  position: absolute;
  display: flex;
  width: 100%;
  height: calc(100vh);
  background: linear-gradient(90deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 69.87%);
}
.welcome .wc {
  padding: 10px 20px;
  color: var(--black);
  width: 800px;
  border-radius: 4px;
  margin-top: 30vh;
}
.welcome .wc h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 48px;
}

.welcome .wc p {
  font-family: var(--inter);
  color: #000;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px !important;
}

.welcome .callNow {
  background-color: var(--black);
  border: var(--black);
  color: var(--white);
  outline: none;
  padding: 3px 16px;
  margin-right: 20px;
  border-radius: 3px;
  font-weight: 600;
}

.welcome a {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}

.welcome .Direction {
  background-color: var(--gold);
  color: #000;
  border: var(--gold);
  outline: none;
  color: var(--black);
  padding: 3px 16px;
  font-weight: 600;
  border-radius: 3px;
}

/* midbar */
.midBar {
  background-color: var(--black);
  text-align: center;
  color: var(--white);
  padding: 16px 16px;
  display: none;
}

.midBar h4 {
  font-size: 22px;
  margin-top: 12px !important;
  font-weight: 300;
  font-family: var(--pacifico);
}
.midBar p {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
  color: var(--white);
}
.midBar .fa-solid {
  padding: 6px;
  border-radius: 50%;
  background-color: #a3814f;
  margin-right: 10px;
  color: var(--white);
  font-size: 10px;
}

.midBar a {
  color: var(--white);
}

/* Aboutus */
.aboutus {
  padding: 5px 80px;
}
.aboutus p {
  font-size: 14px;
}
.aboutus .heading h2 {
  font-size: 48px;
}

.aboutus img {
  width: 40vw;
  height: 350px;
  margin-right: 30px;
  border-radius: 4px;
}

.aboutDetails {
  margin-top: 64px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.aboutDetails .text {
  max-width: 40vw;
}
.aboutDetails .text p {
  font-family: var(--inter);
  line-height: 21px;
  font-size: 14px;
  text-align: justify;
}

/*  we pffer*/

.weoffer {
  margin-top: 80px;
}
.weoffer .heading {
  padding: 5px 80px;
}

.weoffer .crousal {
  display: flex;
  overflow-x: scroll;
  padding: 10px 24px;
  -webkit-overflow-scrolling: touch;
  margin-top: 10px;
  scroll-behavior: smooth;
  align-items: center;
}

.weoffer .crousal::-webkit-scrollbar {
  display: none;
}

.weoffer .offerItem {
  min-width: 300px;
  max-width: 300px;
  margin-right: 48px;
}

.weoffer .offerItem img {
  width: 100%;
  border-radius: 4px;
}
.weoffer .offerItem .text h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}
.weoffer .offerItem .text p {
  font-family: var(--inter);
  font-size: 14px;
  width: 80%;
}

.weoffer .scrollBtn {
  padding: 2px 10px;
}
.weoffer .scrollBtn .left {
  margin-right: 32px;
}
.weoffer .scrollBtn div {
  font-size: 18px;
  background-color: var(--gold);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  color: var(--white);
  cursor: pointer;
}

/*  */
.gellery {
  margin-top: 60px;
}
.gellery .heading {
  text-align: center;
}

.gellery .heading h1 {
  font-size: 28px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  margin-bottom: 0;
}

#container {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}

.photobanner {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 50s ease infinite;
}

.photobanner img {
  margin: 0 0.5em;
  width: 300px;
  border-radius: 7px;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* Services */
.services {
  margin-top: 80px;
  padding: 2px 80px;
}

.services h1 {
  font-weight: 600;
}
.services .srvc {
  padding: 18px 12px;
  border-radius: 6px;
  margin: 20px;
}
.services .srvc {
  height: 100px;
}
.services .srvc .img {
  margin-left: 10px;
}

.services .srvc .dtls h1 {
  font-size: 16px;
  font-family: var(--inter);
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.services .srvc .dtls p {
  font-size: 12px;
  font-family: var(--inter);
  margin-bottom: 5px;
  text-transform: capitalize;
}

.services .mid {
  border: 1px solid gainsboro;
  border-top: none;
}
.services .side {
  border-bottom: 1px solid gainsboro;
}

.services .bbnone {
  border-bottom: none;
}

/* Contact */
.contact {
  margin-top: 80px;
  padding: 2px 80px;
}
.contact p {
  font-size: 14px;
  margin-bottom: 50px;
}
.contact .info-box {
  color: #000000;
  text-align: center;
  box-shadow: 0 0 30px rgb(214 215 216 / 30%);
  padding: 20px 5px 10px 5px;
  border-radius: 7px;
}
.contact .info-box a {
  font-weight: 600;
}
.contact .map,
.contact .map iframe {
  width: 100%;
}

.contact h3 {
  font-size: 22px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: #f3dab291;
  padding: 10px 2px;
}

footer p {
  margin-bottom: 0;
  font-size: 14px;
  margin-top: 10px;
}

.footerServices .logo img {
  width: 140px;
  height: 120px;
}

.footerServices .address h1,
.con h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

.footerServices .address h1::after,
.con h1::after {
  display: block;
  content: "";
  width: 90%;
  height: 2px;
  background: rgb(253, 253, 253);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.footerServices .address h2 {
  font-size: 18px;
  font-weight: 300;
  color: var(--white);
  text-transform: capitalize;
}
.footerServices .address a {
  font-size: 18px;
}

.footerServices .con p {
  color: var(--white);
  font-weight: 300;
  font-size: 12px;
}
.footerServices .useful a {
  color: var(--white);
  font-size: 14px;
}
footer .copy {
  color: var(--white);
}

.bookNow {
  position: fixed;
  right: 15px;
  top: 120px;
  z-index: 996;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gold);
  font-weight: 500;
  font-size: 12px;
}

/* Whatapp */
.whatsapp {
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 996;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/* responsive */

@media screen and (max-width: 992px) {
  .services .mid,
  .services .side {
    border: 1px solid gainsboro;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 876px) {
  #menu {
    display: block;
  }

  .navbar {
    padding: 8px 40px;
  }
  .aboutus,
  .weoffer .heading,
  .services,
  .contact {
    padding: 5px 40px;
  }
  .navbar .navlinks {
    display: none;
  }
  .navbar .book {
    display: none;
  }
  .hammenu .book {
    display: block;
  }

  .aboutus .text {
    width: 100%;
    margin-top: 20px;
  }
  .aboutus img {
    width: 100%;
    height: 250px;
    margin-right: 0;
  }

  .aboutDetails {
    flex-direction: column;
    margin-top: 40px;
  }
  .aboutus .heading h2 {
    font-size: 32px;
  }

  .aboutDetails .text {
    max-width: 100%;
  }

  .amin {
    flex-direction: column-reverse !important;
  }
  .amin img {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .welcome {
    background: linear-gradient(
      360deg,
      #d9d9d9 3.34%,
      rgba(217, 217, 217, 0.42) 48.14%,
      rgba(217, 217, 217, 0) 100%
    );
    align-items: flex-end;
    padding: 2px 20px;
  }

  .welcome .wc {
    margin-top: 0;
    width: 90vw;
  }
  .welcome .wc h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .aboutus .heading h2 {
    font-size: 28px;
  }

  .services .mid,
  .services .side {
    border: 1px solid gainsboro;
  }
}

@media screen and (max-width: 713px) {
  .navbar {
    padding: 8px 20px;
  }
  .aboutus,
  .weoffer .heading,
  .services {
    padding: 5px 20px;
  }

  .welcome {
    top: 0;
    padding-bottom: 50px;
  }
  .welcome .wc h5 {
    font-size: 16px;
  }
  .welcome .wc p {
    font-size: 12px;
  }
  .welcome .wc {
    padding: 10px;
  }
  .midBar h4 {
    font-size: 18px;
    font-family: var(--pacifico);
  }
  .midBar p {
    font-size: 11px;
  }
  .midBar .contact {
    flex-direction: column;
  }
  .midBar .contact .fa-envelope {
    margin-top: 10px;
  }
  .amin .col {
    width: 100%;
  }

  .blur h5 {
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
  .contactgrid .footer-links {
    margin-top: 60px !important;
  }

  .contactgrid .contactdt {
    text-align: center;
  }
}

@media screen and (max-width: 567px) {
  .amin .row {
    display: block;
  }

  .justCall {
    margin: 0;
    margin-top: 20px;
    border-radius: 0;
  }
  .welcome {
    width: 100vw;
    top: 30px;
    height: calc(50vh - 62px);
    padding-bottom: 10px;
  }

  .hero {
    height: calc(50vh - 62px);
  }
}

/* smooth */
